---
import Social from "./Social.astro"
import ThemeIcon from "./ThemeIcon.astro"

const github ="github"
const githubUser = "jonnybhub"
const linkedin = "linkedin"
const linkedinUser = "jonathan-barrett-bab054114"
const twitter = "twitter"
const twitterUser = "psveagle"

---
<footer class="bg-violet-900 text-slate-200 flex justify-center items-center gap-4 p-4 sticky top-[100vh]">
    <Social platform={github} username={githubUser} />
    <Social platform={linkedin} username={linkedinUser} />
    <Social platform={twitter} username={twitterUser} />
    <p>© 2024 PsVEagle</p>
</footer>
