---
import Social from "./Social.astro"
import ThemeIcon from "./ThemeIcon.astro"

const github ="github"
const githubUser = "jonnybhub"
const linkedin = "linkedin"
const linkedinUser = "jonathan-barrett-bab054114"
const twitter = "twitter"
const twitterUser = "psveagle"

---

<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        color:black
    }
</style>

<footer class="bg-gray-400">
    <Social platform={github} username={githubUser} />
    <Social platform={linkedin} username={linkedinUser} />
    <Social platform={twitter} username={twitterUser} />
    <p>© 2024 PsVEagle</p>
    <ThemeIcon class="right-0"/>
</footer>
