---
import Layout from './Layout.astro';
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import {Badge} from "@/components/ui/badge"

const { frontmatter } = Astro.props;

---
<Layout title={frontmatter.title}>
    <Card className="m-8">
        <CardHeader>
            <CardTitle>{frontmatter.description}</CardTitle>
            <CardDescription>Published on: {frontmatter.pubDate.toString().slice(0,10)}</CardDescription>
        </CardHeader>
        <CardContent>
            <p>Written by {frontmatter.author}</p>
            <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
        </CardContent>
        <CardFooter>
        <div class="tags">
            {frontmatter.tags.map((tag :string)=><Badge className='mr-1'><a href={`/tags/${tag}`}>{tag}</a></Badge>)}
        </div>
        </CardFooter>
    </Card>
    <Card className="m-8 p-4 max-w-full prose prose-h1:text-4xl text-slate-400 prose-h1:flex prose-h1:justify-center prose-gray prose-headings:text-slate-400">
        <slot class="" />
    </Card>
</Layout>
